/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {


  /**
   * colors
   */

   --deep-teal_50: hsl(180, 30%, 20%, 0.5);
   --deep-teal-1: hsl(180, 30%, 20%);
   --deep-teal-2: hsl(180, 50%, 10%);
   --cool-gray: hsl(210, 15%, 60%);
   --crimson_20: hsla(348, 83%, 47%, 0.2);
   --crimson_10: hsla(348, 83%, 47%, 0.1);
   --taupe: hsl(30, 10%, 40%);
   --powder-blue: hsl(210, 20%, 70%);
   --light-silver: hsl(0, 0%, 75%);
   --crimson: hsl(348, 83%, 47%);
   --lavender-gray: hsl(240, 10%, 85%);
   --ivory_20: hsl(60, 100%, 98%, 0.2);
   --ivory_10: hsl(60, 100%, 98%, 0.1);
   --charcoal_10: hsl(0, 0%, 15%, 0.1);
   --snow: hsl(0, 0%, 100%);
   


  /**
   *  typography
   */

   --ff-catamaran: 'Catamaran', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;

    --fs-1: 3.8rem;
    --fs-2: 3rem;
    --fs-3: 2.5rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;

    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-500: 500;

  /*
   *  spacing
   */

   --section-padding: 80px;

   /*
   *  shadow
   */

   --shadow-1: 0 0 20px var(--black_10);
   --shadow-2: 0px 10px 24px var(--coquelicot_20);

  /**
   * Border radius
   */

   --radius-10: 10px;
    --radius-8: 8px;
    --radius-5: 5px;

  /**
   * transition
   */
   --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
button,
strong,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-rubik);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--snow);
  color: var(--taupe);
  font-size: 1.6rem;
  line-height: 1.6;
}


:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-silver);
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--crimson);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--deep-teal-2);
}







/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.bg-dark {
  background-color: var(--deep-teal-1);
  color: var(--light-silver);
}

.has-bg-image {
  background-repeat: no-repeat;
  background-position: top left;
}

.has-after,
.has-before {
  position: relative;
  z-index: 1;
}

.has-after::before,
.has-before::before {
  content: "";
  position: absolute;
}

.h1,
.h2,
.h3 {
  font-family: var(--ff-catamaran);
  line-height: 1.25;
}

.h1 {
  color: white;
  font-size: var(--fs-1);
  font-weight: var(--fw-900);
}

.h2,
.h3 {
  color: var(--deep-teal-2);
  font-weight: var(--fw-800);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-4);
}

.section-text {
  font-size: var(--fs-6);
}

.btn {
  max-width: max-content;
  font-size: var(--fs-6);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  padding: 15px  35px;
  border-radius: var(--radius-8);
  transition: var(--transition-1);
}

.btn-primary {
  background-color: var(--crimson);
  color: var(--snow);
}

.btn-primary:(:hover, :focus) {
  background-color: var(--snow);
  color: var(--crimson);
  box-shadow: var(--shadow-2);
}

.btn-secondary {
  background-color: var(--snow);
  color: var(--crimson);
}

.btn-secondary:is(:hover, :focus) {
  background-color: var(--crimson);
  color: var(--snow);
  box-shadow: var(--shadow-2);
}

.w-100 {
  width: 100%;
}

.circle,
.abs-img {
  position: absolute;
}

.circle {
  transform: translate(-50%, -56%);
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  animation: rotate 15s linear infinite;
}

@keyframes rotate360 {
  0% { transform: translate(-50%, -56%) rotate(0); }
  100% { transform: translate(-50%, -56%) rotate(1turn); }
}

.circle-2 {
  animation-direction: reverse;
}

.hero-subtitle,
.section-subtitle {
  font-family: var(--ff-catamaran);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  max-width: max-content;
}

.section-subtitle {
  background-color: var(--crimson_10);
  color: var(--crimson);
  padding: 8px 20px;
  border-radius: var(--radius-8);
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.navbar,
.header .btn {
  display: none;
}

.header {
  background-color: var(--snow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 10px;
  box-shadow: 0 4px 6px var(--charcoal_10); 
  z-index: 4;
}


.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--deep-teal-2);
  font-family: 'Catamaran', sans-serif; 
  font-size: 3.5rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  margin-inline-start: -8px;
}


.logo ion-icon {
  color: var(--crimson);
  font-size: 40px;
  transform: rotate(90deg) translate(-2px, -5px);
}


.nav-open-btn {
  background-color: var(--crimson);
  padding: 20px 15px;
  border-radius: 8px; 
}


.nav-open-btn .line {
  background-color: var(--snow);
  width: 30px;
  height: 3px;
}


.nav-open-btn .line:not(:last-child) {
  margin-block-end: 6px;
}

.nav-open-btn .line:nth-child(2) {
  width: 25px;
  margin-inline-start: auto;
}

.navbar {
  background-color: var(--crimson);
  color: var(--snow);
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  visibility: hidden;
  transition: 0.25s ease-in; 
}


.navbar.active {
  visibility: visible;
  transform: translateY(-100%);
  transition: 0.5s var(--cubic-out);
}

.nav-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--deep-teal-2);
  color: var(--snow); 
  font-size: 40px;
  padding: 10px;
  border-radius: 8px; 
}

.navbar-link {
  font-family: var(--ff-catamaran);
  font-size: var(--fs-4);
  text-align: center;
  padding-block: 10px;
  margin-block-end: 20px;
  transition: var(--transition-1);

} 

.navbar-link:hover {
  color: var(--deep-teal-2);
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  background-color: url('/assets/images/hero-bg.png');
  color: var(--cool-gray);
  text-align: center;
  padding-block-start: calc(var(--section-padding) + 80px);
  padding-block-end: 0;
  overflow: hidden;
}

.hero::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background-color: var(--crimson);
  z-index: -1;
}

.hero-content {
  margin-block-end: 90px;
}

.hero-subtitle {
  background-color: var(--ivory_10);
  color: var(--snow);
  margin-inline: auto;
  padding: 5px;
  padding-inline-end: 15px;
  border-radius: var(--radius-8);
}

.hero-subtitle .strong {
  display: inline-block;
  background-color: var(--crimson);
  padding: 2px 15px;
  margin-inline-end: 15px;
  border-radius: var(--radius-5);
}

.hero-title {
  margin-block: 30px 8px;
}

.hero .section-text {
  margin-block-end: 40px;
}

.hero .btn {
  margin-inline: auto;
}

.hero-banner {
  position: relative;
}

.abs-img-1 {
  top: 20px;
  right: -50px;
  width: 100px;
}

.abs-img-2 {
  bottom: -50px;
  left: -40px;
  width: 200px;
}

.hero .abs-img {
  animation: move 3s linear infinite alternate;
}

@keyframes move {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-5px, 10px); }
  100% { transform: translate(5px, 20px); }
}

.hero .abs-img-2 {
  animation-direction: alternate-reverse;
}






/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  overflow: hidden;
}

.about-banner {
  margin-block-end: 50px;
}

.about-banner::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--crimson);
  border-radius: var(--radius-10);
  z-index: -2;
}

.about-banner .abs-img {
  bottom: 0;
  left: 0;
  z-index: -1;
  animation: moveUp 2.5s ease infinite;
}

@keyframes moveUp {
  0%,
  30%,
  60%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-30px);
  }

  40% {
    transform: translateY(-15px);
  }
}

.about .section-text:not(:last-of-type) { margin-block-end: 15px; }

.about .wrapper { margin-block-start: 30px; }

.about-coach {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.about .coach-avatar {
  overflow: hidden;
  border-radius: 50%;
}

.about .coach-name {
  font-weight: var(--fw-700);
  margin-block-end: 5px;
}

.about .coach-title { font-size: var(--fs-6); }

.about .btn-primary:is(:hover, :focus) {
  background-color: var(--rich-black-fogra-29-1);
  color: var(--white);
  box-shadow: none;
}




/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/





/*-----------------------------------*\
  #CLASS
\*-----------------------------------*/





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/